* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px 10%;
  border-bottom: 2px rgb(20, 20, 20) solid;
}
.nav-links li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}
.header .nav-links a {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}
.logo {
  flex-flow: row;
  display: flex;
}
.logo_img {
  width: 40px;
  height: 40px;
}
::placeholder {
  color: gray;
}

.search-box {
  color: white;
  font-size: 20px;
  background: rgb(34, 33, 33);
  width: 600px;
  height: 40px;
  padding-left: 2.5rem;
  border-radius: 0.3rem;
}

.search-box-container {
  position: relative;
  width: 300px;
}
.placeholder_icon {
  color: #191919;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.icons {
  width: 30px;
  height: 30px;
}
.text-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: fit-content;
  height: fit-content;
  border-bottom: 1px solid rgb(32, 31, 31);
  padding: 15px;
  margin-left: 3rem;
  margin-top: 10px;
}
.navigation_text {
  font-size: 20px;
  color: white;
  padding: 0px 10px;
  font-weight: bold;
}

.flex-container {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.flex-container-2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.div-flex {
  color: white;
  background-color: gray;
  width: 300px;
  height: 100px;
  border-radius: 0.3rem;
}
.yellow {
  background: rgb(151, 151, 24);
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}
.circle_1 {
  width: 25px;
  height: 25px;
  background: yellow;
}
.red {
  background: rgb(128, 23, 23);
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}
.circle_2 {
  width: 25px;
  height: 25px;
  background: red;
}
.blue {
  background: rgb(28, 28, 104);
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}
.circle_3 {
  width: 25px;
  height: 25px;
  background: blue;
}
.orange {
  background: rgb(133, 45, 13);
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}
.circle_4 {
  width: 25px;
  height: 25px;
  background: orangered;
}
.purple {
  background: rgb(100, 19, 100);
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}
.circle_5 {
  width: 25px;
  height: 25px;
  background: purple;
}
.green {
  background: rgb(28, 83, 28);
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}
.circle_6 {
  width: 25px;
  height: 25px;
  background: green;
}
.circles {
  border-radius: 50%;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}
.titles {
  margin-top: 12px;
  margin-left: 15px;
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.imagenes {
  width: 80px;
  height: 80px;
  border-radius: 0.5rem;
}
.img_1 {
  margin-top: 10px;
  margin-left: 100px;
}
.img_2 {
  margin-left: 80px;
  margin-top: 10px;
}
.img_3 {
  margin-top: 10px;
  margin-left: 60px;
}
.img_4 {
  margin-top: 10px;
  margin-left: 140px;
}
.img_5 {
  margin-left: 120px;
  margin-top: 10px;
}
.img_6 {
  margin-top: 10px;
  margin-left: 95px;
}
.body-container {
  display: flex;
  flex-flow: row;
}
.right-side-container {
  margin-left: 50px;
  border-left: 1px solid rgb(20, 20, 20);
}
.blogs-container {
  width: 300px;
  height: 350px;
  background: rgb(24, 23, 23);
  margin: 20px 20px;
  border-radius: 0.3rem;
}
.title-blogs-container {
  width: 300px;
  height: 50px;
  border-bottom: 1px solid rgb(50, 50, 50);
}
.title-container {
  color: white;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  padding-top: 1rem;
  margin-left: 10px;
  font-size: medium;
}
.users-blogs-container {
  width: 300px;
  height: 250px;
  border-bottom: 1px solid rgb(50, 50, 50);
  display: flex;
  justify-content: space-between;
}
.users-nav-links li {
  list-style: none;
  width: 275px;
  color: white;
  font-weight: bold;
  flex-flow: column;
  margin-top: 1rem;
  margin-left: 10px;
}
.users {
  border-radius: 0.3rem;
  display: flex;
  width: 40px;
  height: 40px;
}
.watch-more-container {
  width: 300px;
  height: 50px;
}
.watch-more-title {
  margin: 13px 82px;
  width: fit-content;
  height: fit-content;
  color: rgb(0, 195, 255);
}
.names {
  color: white;
  width: 100px;
  margin-left: 60px;
  font-weight: bold;
}
.mundo {
  margin-top: 30px;
}
.mundo_subtitle {
  margin-top: 1px;
  font-size: smaller;
  color: gray;
}
.chogath {
  margin-top: 15px;
}
.chogath_subtitle {
  margin-top: 1px;
  font-size: smaller;
  color: gray;
}
.seraphine {
  margin-top: 15px;
}
.seraphine_subtitle {
  margin-top: 3px;
  font-size: smaller;
  color: gray;
}
.aatrox {
  margin-top: 15px;
}
.aatrox_subtitle {
  margin-top: 3px;
  font-size: smaller;
  color: gray;
}
.images-container {
  width: fit-content;
  height: fit-content;
}
.images-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 10px;
  margin-left: 47px;
}
.cuadricula_1 {
  width: 333px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
}
.cuadricula_2 {
  width: 333px;
  height: 500px;
  flex-direction: column;
}
.cuadricula_3 {
  width: 333px;
  height: 500px;
  flex-direction: column;
}
.vertical_images {
  width: 220px;
  height: 300px;
  margin-top: 7px;
  border-radius: 0.5rem;
  border: 2px solid blue;
}
